*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  place-items: center center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  align-items: end;
  gap: 30px;
  grid-template-columns: 711px 399px;
  grid-template-areas: 'result content__details';
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  width: fit-content;
}

.search-form__textfield {
  appearance: none;
  background: transparent;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-inline-size: 225px;
  max-inline-size: 225px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  background: #fff;
  width: 15px;
  height: 15px;
}

.button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  block-size: 34px;
}

.button:focus {
  outline: none;
}

.button:hover,
.content__card-link:hover,
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button:active,
.content__card-link:active {
  background: #545050;
  text-decoration: none;
}

.button:focus-visible,
.content__card-link:focus-visible,
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  min-inline-size: 194px;
  align-self: flex-end;
}

.content__details {
  grid-area: content__details;
  display: flex;
  flex-direction: column;
  block-size: 100%;
  gap: 26px;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-inline-size: 399px;
  block-size: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list-item {
  margin-block-end: 30px;
  padding-inline: 3px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-inline-start: 15px;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.result__video-container {
  position: relative;
}

.more-button {
  width: 100%;
  margin: 2px 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}